#AI and Data Science Workshop with Python

Assignment 03

Pandas

1- Upload the xlsx file `example.xlsx` in your google drive and read the excel file using pandas. And show the data. 
To read an excel file you can use `pd.read_excel()`.
The result can be as follow:
```
<bound method NDFrame.head of       Year  MSHA ID  ... Average Employees Labor Hours
0     2013   103381  ...                10       22392
1     2013   103404  ...                18       28447
2     2013   100759  ...               183      474784
3     2013   103246  ...                13       29193
4     2013   103451  ...                27       46393
...    ...      ...  ...               ...         ...
1445  2013  1103254  ...                 4        8249
1446  2013  1102636  ...                 4        1449
1447  2013  4407233  ...                16       43684
1448  2013  1518524  ...                 2         622
1449  2013  1519685  ...                 3        1020
```

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/MyDrive/bootcamp/example.xlsx'
df = pd.read_excel(path)
df.head()

   Year  MSHA ID  ... Average Employees Labor Hours
0  2013   103381  ...                10       22392
1  2013   103404  ...                18       28447
2  2013   100759  ...               183      474784
3  2013   103246  ...                13       29193
4  2013   103451  ...                27       46393

[5 rows x 16 columns]

2- Write a pandas code to get the datatype of the data.
The result can be like this:

```
Year                          int64
MSHA ID                       int64
Mine Name                    object
Mine State                   object
Mine County                  object
Mine Status                  object
Mine Type                    object
Company Type                 object
Operation Type               object
Operating Company            object
Operating Company Address    object
Union Code                   object
Coal Supply Region           object
Production (short tons)       int64
Average Employees             int64
Labor Hours                   int64
dtype: object
```
---

In [ ]:
df.dtypes

Year                          int64
MSHA ID                       int64
Mine Name                    object
Mine State                   object
Mine County                  object
Mine Status                  object
Mine Type                    object
Company Type                 object
Operation Type               object
Operating Company            object
Operating Company Address    object
Union Code                   object
Coal Supply Region           object
Production (short tons)       int64
Average Employees             int64
Labor Hours                   int64
dtype: object

3- Write a Pandas code to read the first three columns

In [ ]:
df.iloc[:, 0:3].head()

   Year  MSHA ID                       Mine Name
0  2013   103381            Tacoa Highwall Miner
1  2013   103404                Reid School Mine
2  2013   100759  North River #1 Underground Min
3  2013   103246                      Bear Creek
4  2013   103451                     Knight Mine

4- Write a Pandas code to calculate sum, mean, max, and min of the "Production (short tons)" column.
The result can be like this:
```
Sum:  984841779
Mean:  679201.2268965517
Maximum:  111005549
Minimum:  0
```

In [ ]:
import numpy as np

dSum = np.sum(df['Production (short tons)'])
dMean = np.mean(df['Production (short tons)'])
dMax = np.max(df['Production (short tons)'])
dMin = np.min(df['Production (short tons)'])
               
print('Sum: ', dSum)
print('Mean: ', dMean)
print('Maximum: ', dMax)
print('Minimum: ', dMin)

Sum:  984841779
Mean:  679201.2268965517
Maximum:  111005549
Minimum:  0

5- Write a pandas code to print the last 5 rows

In [ ]:
df.tail()

      Year  MSHA ID  ... Average Employees Labor Hours
1445  2013  1103254  ...                 4        8249
1446  2013  1102636  ...                 4        1449
1447  2013  4407233  ...                16       43684
1448  2013  1518524  ...                 2         622
1449  2013  1519685  ...                 3        1020

[5 rows x 16 columns]

6- Write a pandas code to print a statistical summary of each column.
The result can be like this:

```
         Year       MSHA ID  ...  Average Employees   Labor Hours
count  1450.0  1.450000e+03  ...        1450.000000  1.450000e+03
mean   2013.0  3.069954e+06  ...          55.445517  1.226971e+05
std       0.0  1.425374e+06  ...         120.833899  2.726465e+05
min    2013.0  1.003290e+05  ...           0.000000  3.500000e+01
25%    2013.0  1.519166e+06  ...           6.000000  8.842750e+03
50%    2013.0  3.608260e+06  ...          17.000000  3.375450e+04
75%    2013.0  4.407279e+06  ...          47.750000  1.078175e+05
max    2013.0  5.000030e+06  ...        1585.000000  3.206295e+06
```

In [ ]:
df.describe()

         Year       MSHA ID  ...  Average Employees   Labor Hours
count  1450.0  1.450000e+03  ...        1450.000000  1.450000e+03
mean   2013.0  3.069954e+06  ...          55.445517  1.226971e+05
std       0.0  1.425374e+06  ...         120.833899  2.726465e+05
min    2013.0  1.003290e+05  ...           0.000000  3.500000e+01
25%    2013.0  1.519166e+06  ...           6.000000  8.842750e+03
50%    2013.0  3.608260e+06  ...          17.000000  3.375450e+04
75%    2013.0  4.407279e+06  ...          47.750000  1.078175e+05
max    2013.0  5.000030e+06  ...        1585.000000  3.206295e+06

[8 rows x 5 columns]

7- Write a pandas code to print the first 3 rows of the dataset

In [ ]:
df.head(3)

8- Write a Pandas code to details a part of data that "Average Employees" > 20.
The result can be like this:
```

      Year  MSHA ID  ... Average Employees Labor Hours
2     2013   100759  ...               183      474784
4     2013   103451  ...                27       46393
5     2013   103433  ...                27       47195
6     2013   100329  ...                59      144002
7     2013   100851  ...               447     1001809
...    ...      ...  ...               ...         ...
1417  2013  4800086  ...               289      533884
1418  2013  4800677  ...               182      368307
1419  2013  4801180  ...               186      386879
1420  2013  4801646  ...               278      661265
1428  2013  3603561  ...                51      121332
```

In [ ]:
df[df['Average Employees'] > 20]

      Year  MSHA ID  ... Average Employees Labor Hours
2     2013   100759  ...               183      474784
4     2013   103451  ...                27       46393
5     2013   103433  ...                27       47195
6     2013   100329  ...                59      144002
7     2013   100851  ...               447     1001809
...    ...      ...  ...               ...         ...
1417  2013  4800086  ...               289      533884
1418  2013  4800677  ...               182      368307
1419  2013  4801180  ...               186      386879
1420  2013  4801646  ...               278      661265
1428  2013  3603561  ...                51      121332

[660 rows x 16 columns]